<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Twitter app</title>
</head>
<body>
<h3>Reset password</h3>
<form action="/reset-password" th:object="${resetPassword}" method="POST" enctype="utf8">
    <div>
        <label>New password</label>
        <input id="password" type="password" th:field="*{password}"/>
        <label for="password" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</label>
    </div>
    <div>
        <label>Confirm</label>
        <input id="matchingPassword" type="password" th:field="*{matchingPassword}"/>
        <label for="matchingPassword" th:each="error : ${#fields.errors('matchingPassword')}"
               th:text="${error}">Validation error</label>
    </div>
    <p th:each="error : ${#fields.errors('global')}"
       th:text="${error}">Validation error</p>
    <input name="token" type="hidden" th:value="${token}"/>
    <button type="submit">Submit</button>
</form>

<div th:if="${url}">
    Reset password link: <a th:href="${url}" th:text="${url}"></a>
</div>

<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<ul>
    <li><a th:href="@{/login.html}">Login</a></li>
</ul>

</body>
</html>